div.center-div {
	padding: 10px 10px;
}
tr.full {_
	width: 100%;
}
table.full {_
	width: 100%;
}
a {
	text-decoration: none;
}
img {
	width: 80%;
	max-width: 1000px;
}
fieldset.item {
	border: 1px solid #000000;
	padding: 10px;	
	font-size: 20px;
}
legend.item {
	border: 1px solid #000000;
	padding: 2px 8px;
	font-size: 14px;
}
